<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BaseDeDatosKidder.Properties.Settings.Valor" connectionString="Data Source=LAPTOP-1P6UFP3F\SQLEXPRESS01;Integrated Security=True; database=KIDDER" />
    <add name="BaseDeDatosKidder.Properties.Settings.Valor1" connectionString="Data Source=LAPTOP-1P6UFP3F\SQLEXPRESS01;Initial Catalog=KIDDER;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BaseDeDatosKidder.Properties.Settings.Valor2" connectionString="Data Source=LAPTOP-1P6UFP3F\SQLEXPRESS01;Initial Catalog=KIDDER;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="KIDDEREntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-1P6UFP3F\SQLEXPRESS01;initial catalog=KIDDER;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>